name: Formula

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main
      - dev
  schedule:
    - cron: '0 0,6,12,18 * * *'
  workflow_dispatch:

defaults:
  run:
    shell: bash --noprofile --norc -CeEuxo pipefail {0}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  formula:
    uses: taiki-e/github-actions/.github/workflows/gen.yml@main
    permissions:
      contents: read
      pull-requests: write # for gh pr edit --add-assignee / gh pr review --approve
      repository-projects: read # for gh pr edit --add-assignee
    secrets: inherit
    with:
      script: tools/formula.sh
      commit-script: tools/ci/formula.sh
      title: Update formula
      branch: update-formula
      automerge: true
